.button{
	transition: all .2s ease-in-out;
    cursor: pointer;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
}

.button:hover{
	transform: scale(1.1);
}

#seeResultsButton{
	font-weight: bold;
	cursor: pointer;
}

#backToQuizzesButton{
	// margin-right: auto;
	// margin-left: auto;
	// width: 200px;
	// background-color: grey;
	// color: white;
	// padding: 10px;
	// border-radius: 100px;
	// cursor: pointer;
	// text-align: center;
	// margin-top: 20px;
}

#showLeaderboardButton{
	// margin-right: auto;
	// margin-left: auto;
	// width: 200px;
	// background-color: teal;
	// color: white;
	// padding: 10px;
	// border-radius: 100px;
	// cursor: pointer;
	// text-align: center;
	// margin-top: 20px;
}

#saveBioButton{
	background: teal;
	color: white;
	border: 1px black solid;
	border-radius: 100px;
	width: 100px;
	position: relative;
	left: 30px;
	text-align: center;
	padding: 3px;
}


.answerHover{
	transition: all .2s ease-in-out;
}

.answerHover:hover{
	background-color: teal;
	color: white;
	transform: scale(1.1);
}

#makeAccount{
	// padding: 5px;
	// background: teal;
	// color: white;
	// border: 1px black solid;
	// margin-left: auto;
	// margin-right: auto;
	// margin-top: 10px;
	// border-radius: 100px;
}

.radioBox
{
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	display: inline-block;
	position: relative;
	background-color: #f1f1f1;
	color: #666;
	top: 10px;
	height: 30px;
	width: 30px;
	border: 0;
	border-radius: 50px;
	cursor: pointer;     
	margin-right: 7px;
	outline: none;
	margin-top: -20px;
	margin-left: 50%;
}
.radioBox:checked::before
{
     position: absolute;
     font: 13px/1 'Open Sans', sans-serif;
     left: 11px;
     top: 7px;
     content: '\02143';
     transform: rotate(40deg);
}
.radioBox:hover
{
     background-color: #f7f7f7;
}
.radioBox:checked
{
     background-color: #f1f1f1;
}

#uploadButton{
	background: #006C25;
	padding: 30px;
	width: 170px;
	color: white;
	border: 1px black solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 100px;
	text-align: center;
	margin-bottom: 40px;
}

#unuploadButton{
	padding: 30px;
	background: #3F1010;
	width: 170px;
	color: white;
	border: 1px black solid;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	border-radius: 100px;
	text-align: center;
	margin-bottom: 40px;
}


