#leaderNick:hover{
	text-decoration: underline;
	cursor: pointer;
}


#someonesResults{
	color: white;
    width: 100%;
    text-align: center;
    font-size: 2em;
    margin-top: 10px;
}

.rightExpand{
	transition: all .2s ease-in-out;
}

.leftExpand{
	transition: all .2s ease-in-out;
}

.innerResultBox{
	position: relative;
	padding-top: 100%;
	width: 100%;
	border: 2px solid black;
	margin-top: -2px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
    cursor: pointer;
    overflow: scroll;
}

.resultsContainer{
	display: none;
}

.answerResultBox{
	color: teal;
	text-align: center;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	background-color: white;
	border-radius: 100px;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 20px;
	cursor: pointer;
}


.boxBox{
	box-shadow: none;
	z-index: 0; transform: scale(1);
	transition: all 0.2s ease-in-out 0s;
	width: 100%;
	position: relative;
	left: 0px;
}

#scoreResult{
	margin-top: 5px;
	text-align: center;
	font-size: 2em;
	font-weight: bold;
	margin-bottom: 20px;
}

#correctBox{
	transition: all .2s ease-in-out;
	background-color: #164426;
}

#wrongBox{
	background-color: #391616;
	transition: all .2s ease-in-out;
}

#resultQuestion{
	margin-top: 20px;
	margin-left: 10px;
	margin-right: 10px;
	overflow: hidden;
	font-weight: bold;
	border-bottom: 1px white dotted;
	padding-bottom: 5px;
}

#resultWrongAnswer{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
	border-bottom: 1px white dotted;
	padding-bottom: 10px;
}

#resultAnswer{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#resultRightAnswer{
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}

#resultQuestionNumber{
	margin: 10px;
	font-size: 1.1em;
	font-weight: bolder;
	overflow: hidden;
}

#boxText{
	transition: all .2s ease-in-out;
	color: white;
	position: absolute;
	width: 100%;
	text-align: center;
	top: 0px;
	left: 0px;
}

#prevAnswersWrapper{
	display: grid;
	grid-template-columns: 25% 25% 25% 25%;
	margin-right: 5px;
}