#question{
	text-align: center;
	height: 50px;
	font-size: 2em;
	border-radius: 5px;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 70%;
}

.questionAnswer{
	height: 40px;
	width: 90%;
	margin: 15px;
	margin-bottom: 10px;
	font-size: 1.5em;
	border-radius: 5px;
}